/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02/07/2019, 13:01:23
    Author     : Lemontech
*/
.title{
    font-size: 3em;
}
body{
    opacity: 0.9;
}
#btn-form:hover{
    background-color: rgba(195,69,252,0.3);
}
#btn-form{
    padding-right: 5px;
    margin: 0px;
    width: 100%;
    background-color: black;
    color: white;
    border: 0;
}
th{
    color: white;
}
td{
    color:white;
}
.btn-excluir{
    margin-left: 10px;
    margin-right: 10px;
}
.btn-pesquisar{
    margin-bottom: 5px;
}

